<div class="card" style="width: 80rem;">
  <div class="card-body">
    <h5 class="card-title">
      <%= @post.title%>
    </h5>
    <p class="card-text"><%= @post.content%></p>
    <a href="/post/new" class="card-link">New Post</a>
    <a href="/post" class="card-link">Home</a>
  </div>
</div>
